/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Quicksand:wght@500&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap');

/* Aplicar fuentes a elementos */
body {
  font-family: 'PT Serif', serif; /* Aplicar PT Serif a todo el cuerpo */
}

h1, h2, h3 {
  font-family: 'PT Serif', sans-serif; /* Aplicar Quicksand a encabezados */
}

p {
  font-family: 'PT Serif', sans-serif; /* Aplicar Rubik Dirt a párrafos */
}

code {
  font-family: 'PT Serif', monospace; /* Aplicar Share Tech Mono a bloques de código */
}

/* Otros estilos */
html, body {
  background-color: #e17055; /* Cambiar color de fondo */
}
